/* CSS declarations go here */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 28px;
	color: white;

}

.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
