/* CSS declarations go here */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
	font-size: 29px;
	color: white;
}

.clock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.time {
	margin-bottom: 5px;
}

.clock .face {
	position: relative;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 3px solid white;
	margin: 20px;
}

.clock .content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner {
	text-align: center;
	font-size: 70px;
}

.apostrophe {
	position: absolute;
	font-family: arial;
	font-size: 55px;
	top: -45px;
	right: -20px;
}